@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    outline: none;
}

body{
    font-family: 'roboto';
    background: #8cc84c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.warpper{
    width: 400px;
    padding: 20px;
    background: white;
    border-radius: 10px;
}

.title{
    font-size: 20px;
}

.content{
    border: 1px solid #161616;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    border-radius: 5px;
}

.content li{
    background: green;
    color: rgb(246, 246, 246);
    border-radius: 3px;
    list-style: none; /* cho cái dấu chấm mặc định của thẻ li biến mất */
    margin: 4px 3px;
    padding: 6px;
}

.content li i{ /* button close */
    font-size: 18px;
    margin-left: 2px;
    position: relative;
    top: 2.3px;
}

.content li i:hover{
    color: #dadada;
    cursor: pointer;
}

.content input{
    border: none;
    font-size: 20px;
    margin: 10px 0;
    margin-left: 3px;
    flex: 1; /* nó sẽ chiếm toàn bộ chìu rộng của cha nó khi cha nó có display flex */
}

.remove-all{
    background: #8cc84c;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 10px;
}

.remove-all:hover{
    background: #adda7c;
    cursor: pointer;
}